Repository ChristinNegou/deneige_auto: changes, and which lefthook commands are due for each by the changed paths.
All: dart-format, flutter-analyze, backend-lint

lefthook.yml:

# Lefthook configuration for pre-commit hooks
# Documentation: https://github.com/evilmartians/lefthook

pre-commit:
  parallel: false
  commands:
    # Flutter/Dart formatting check
    dart-format:
      glob: "*.dart"
      run: dart format --set-exit-if-changed {staged_files}
      stage_fixed: true

    # Flutter analyze (only if Dart files changed)
    flutter-analyze:
      glob: "*.dart"
      run: flutter analyze --no-fatal-infos lib/

    # Backend ESLint (only if JS files in backend changed)
    backend-lint:
      root: "backend/"
      glob: "*.js"
      run: npm run lint --prefix backend 2>/dev/null || echo "Lint check skipped"

pre-push:
  parallel: true
  commands:
    # Run Flutter tests before push
    flutter-tests:
      glob: "*.dart"
      run: flutter test --no-pub

    # Run backend tests before push
    backend-tests:
      glob: "backend/**/*.js"
      run: cd backend && npm test

Fix: Add l10n delegates to login test and create missing assets/icons dir
  assets/icons/.gitkeep
  test/integration/login_screen_test.dart
Due: dart-format, flutter-analyze

feat: Complete l10n conversion for all remaining screens
  lib/features/admin/presentation/pages/admin_reservations_page.dart
  lib/features/admin/presentation/pages/admin_users_page.dart
  lib/features/disputes/presentation/pages/create_dispute_page.dart
  lib/features/payment/presentation/screens/payment_screen.dart
  lib/features/payment/presentation/screens/payments_list_screen.dart
  lib/features/profile/presentation/pages/profile_page.dart
  lib/features/snow_worker/presentation/pages/worker_history_page.dart
  lib/features/snow_worker/presentation/pages/worker_profile_tab.dart
  lib/features/snow_worker/presentation/pages/worker_settings_page.dart
  lib/features/vehicule/presentation/pages/vehicles_list_page.dart
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_localizations.dart
  lib/l10n/app_localizations_en.dart
  lib/l10n/app_localizations_fr.dart
Due: dart-format, flutter-analyze

feat: Complete l10n conversion for all notification screens and services
  lib/features/notifications/data/datasources/notification_remote_datasource.dart
  lib/features/notifications/domain/entities/notification.dart
  lib/features/notifications/presentation/bloc/notification_bloc.dart
  lib/features/notifications/presentation/pages/notification_settings_page.dart
  lib/features/notifications/presentation/pages/notifications_page.dart
  lib/features/notifications/presentation/widgets/notification_banner.dart
  lib/features/notifications/services/notification_navigation_service.dart
  lib/features/notifications/services/notification_preferences_service.dart
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_localizations.dart
  lib/l10n/app_localizations_en.dart
  lib/l10n/app_localizations_fr.dart
Due: dart-format, flutter-analyze

fix: Update notification bloc tests to match l10n key-based messages
  test/features/notifications/presentation/bloc/notification_bloc_test.dart
Due: dart-format, flutter-analyze

feat: Add verified badge for snow workers on profile and reservation details
  assets/icons/person.svg
  assets/icons/snowplow.svg
  backend/routes/reservations.js
  lib/features/auth/data/models/user_model.dart
  lib/features/auth/domain/entities/user.dart
  lib/features/reservation/data/models/reservation_model.dart
  lib/features/reservation/domain/entities/reservation.dart
  lib/features/reservation/presentation/pages/reservation_details_page.dart
  lib/features/snow_worker/data/models/worker_profile_model.dart
  lib/features/snow_worker/domain/entities/worker_profile.dart
  lib/features/snow_worker/presentation/pages/worker_profile_tab.dart
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_localizations.dart
  lib/l10n/app_localizations_en.dart
  lib/l10n/app_localizations_fr.dart
Due: dart-format, flutter-analyze, backend-lint

feat: Replace Material Icons with custom SVGs for client and worker roles
  lib/features/auth/presentation/screens/account_type_selection_screen.dart
  lib/features/auth/presentation/screens/register_screen.dart
Due: dart-format, flutter-analyze

fix: Include workerProfile verification status in auth responses
  backend/routes/auth.js
  lib/features/snow_worker/presentation/pages/worker_profile_tab.dart
Due: dart-format, flutter-analyze, backend-lint

fix: Improve password reset page and email link visibility
  backend/config/email.js
  backend/public/reset-password.html
Due: backend-lint

fix: Simplify email button for Yahoo Mail compatibility
  backend/config/email.js
Due: backend-lint

fix: Improve password reset UX and design
  backend/config/email.js
  backend/public/reset-password.html
  lib/features/auth/presentation/screens/forgot_password_screen.dart
Due: dart-format, flutter-analyze, backend-lint

style: Adjust image sizes and remove opacity wrappers
  .claude/settings.local.json
  assets/images/empty_activities.png
  assets/images/empty_chat.png
  assets/images/empty_disputes.png
  assets/images/empty_notifications.png
  assets/images/empty_payment_history.png
  assets/images/empty_payment_methods.png
  assets/images/empty_reservations.png
  assets/images/empty_vehicles.png
  assets/images/empty_worker_history.png
  assets/images/empty_worker_jobs.png
  assets/images/quick_my_reservations.png
  assets/images/quick_my_vehicles.png
  assets/images/quick_new_reservation.png
  assets/images/quick_payment.png
  assets/images/stat_earnings.png
  assets/images/stat_jobs_completed.png
  assets/images/stat_rating.png
  assets/images/step_datetime.png
  assets/images/step_location.png
  assets/images/step_options.png
  assets/images/step_summary.png
  assets/images/step_vehicle.png
  assets/images/worker_available.png
  assets/images/worker_earnings.png
  assets/images/worker_equipment.png
  assets/images/worker_offline.png
  lib/core/widgets/app_illustration.dart
  lib/features/activities/presentation/screens/activities_screen.dart
  lib/features/client/screens/client_home_screen.dart
  lib/features/disputes/presentation/pages/my_disputes_page.dart
  lib/features/payment/presentation/screens/payments_list_screen.dart
  lib/features/snow_worker/presentation/pages/worker_history_page.dart
  lib/features/snow_worker/presentation/pages/worker_home_tab.dart
  lib/features/snow_worker/presentation/pages/worker_settings_page.dart
Due: dart-format, flutter-analyze

feat: Add web pages for privacy policy and terms of service
  backend/public/privacy-policy.html
  backend/public/terms-of-service.html
  backend/server.js
Due: backend-lint

feat: Configure release signing for Play Store deployment
  .gitignore
  android/app/build.gradle.kts
Due: none

fix: Update email addresses from .com to .ca domain
  legal/conditions-utilisation.md
  legal/conformite-loi25.md
  legal/politique-confidentialite.md
  lib/features/legal/presentation/pages/legal_page.dart
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_localizations.dart
  lib/l10n/app_localizations_en.dart
  lib/l10n/app_localizations_fr.dart
Due: dart-format, flutter-analyze

feat: Complete dispute feature with photo upload and GPS location
  backend/routes/disputes.js
  lib/core/services/dispute_service.dart
  lib/features/disputes/presentation/pages/add_evidence_page.dart
  lib/features/disputes/presentation/pages/create_dispute_page.dart
  lib/features/reservation/presentation/pages/reservation_details_page.dart
  lib/features/snow_worker/presentation/pages/worker_job_details_page.dart
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_localizations.dart
  lib/l10n/app_localizations_en.dart
  lib/l10n/app_localizations_fr.dart
Due: dart-format, flutter-analyze, backend-lint

feat: Add disputes access for workers and improve empty state message
  lib/features/snow_worker/presentation/pages/worker_profile_tab.dart
  lib/l10n/app_en.arb
  lib/l10n/app_fr.arb
  lib/l10n/app_localizations.dart
  lib/l10n/app_localizations_en.dart
  lib/l10n/app_localizations_fr.dart
Due: dart-format, flutter-analyze

feat: Add account deletion request page for Play Store compliance
  backend/public/delete-account.html
  backend/server.js
Due: backend-lint

feat: Add edge-to-edge display support for Android 15 (SDK 35)
  android/app/build.gradle.kts
  android/app/src/main/java/com/deniege_auto/deneige_auto/MainActivity.java
  android/app/src/main/res/values-night-v31/styles.xml
  android/app/src/main/res/values-night/styles.xml
  android/app/src/main/res/values-v31/styles.xml
  android/app/src/main/res/values/styles.xml
  pubspec.yaml
Due: none

fix: Navigate to AddPaymentMethodScreen when clicking add card button
  lib/features/payment/presentation/screens/payment_screen.dart
Due: dart-format, flutter-analyze
