Repository ChristinNegou/deneige_auto: changes, and which lefthook commands are due for each by the changed paths.
All: dart-format, flutter-analyze, backend-lint

lefthook.yml:

# Lefthook configuration for pre-commit hooks
# Documentation: https://github.com/evilmartians/lefthook

pre-commit:
  parallel: false
  commands:
    # Flutter/Dart formatting check
    dart-format:
      glob: "*.dart"
      run: dart format --set-exit-if-changed {staged_files}
      stage_fixed: true

    # Flutter analyze (only if Dart files changed)
    flutter-analyze:
      glob: "*.dart"
      run: flutter analyze --no-fatal-infos lib/

    # Backend ESLint (only if JS files in backend changed)
    backend-lint:
      root: "backend/"
      glob: "*.js"
      run: npm run lint --prefix backend 2>/dev/null || echo "Lint check skipped"

pre-push:
  parallel: true
  commands:
    # Run Flutter tests before push
    flutter-tests:
      glob: "*.dart"
      run: flutter test --no-pub

    # Run backend tests before push
    backend-tests:
      glob: "backend/**/*.js"
      run: cd backend && npm test

Feat: Support dual Stripe webhook secrets for Connect
  backend/config/validateEnv.js
  backend/routes/webhooks.js
Due: backend-lint

Fix: Rate limiter IPv6 validation error on Railway
  backend/middleware/rateLimiter.js
Due: backend-lint

Fix: Add Railway deployment configuration
  backend/.npmrc
  backend/railway.json
Due: none

Fix: Clear npm cache before install to avoid EBUSY error
  backend/railway.json
Due: none

Fix: Use /tmp for npm cache to avoid Docker mount conflict
  backend/railway.json
Due: none

Fix: Add nixpacks.toml to disable node_modules cache mount
  backend/nixpacks.toml
  backend/railway.json
Due: none

Fix: Use /health endpoint for Railway healthcheck
  backend/railway.json
Due: none

Fix: Remove healthcheck temporarily to debug Railway deployment
  backend/railway.json
Due: none

Fix: Re-enable healthcheck with sleepApplication disabled
  backend/railway.json
Due: none

Fix: Permanently disable healthcheck for Railway deployment
  backend/railway.json
Due: none

Perf & Security: Add MongoDB indexes and secure error handling
  backend/models/ParkingSpot.js
  backend/models/Reservation.js
  backend/models/User.js
  backend/routes/auth.js
  backend/routes/payments.js
  backend/routes/reservations.js
  backend/routes/support.js
  backend/routes/vehicles.js
  backend/routes/webhooks.js
  backend/routes/workers.js
  backend/utils/errorHandler.js
Due: backend-lint

Feat: Add Stripe reconciliation and improve revenue reporting
  backend/routes/admin.js
Due: backend-lint

Feat: Add admin endpoint to cleanup test reservations
  backend/routes/admin.js
  backend/scripts/cleanTestReservations.js
Due: backend-lint

Add fix-payouts endpoint to populate missing payout data
  backend/routes/admin.js
Due: backend-lint

Feat: Update admin dashboard to display detailed revenue breakdown
  lib/features/admin/domain/entities/admin_stats.dart
  lib/features/admin/presentation/pages/admin_dashboard_page.dart
  lib/features/admin/presentation/pages/admin_reports_page.dart
Due: dart-format, flutter-analyze

Feat: Automate worker payouts with retry mechanisms
  backend/routes/admin.js
  backend/routes/webhooks.js
Due: backend-lint

Feat: Add FCM test endpoints and E2E test script
  backend/routes/admin.js
  backend/scripts/e2e-test.js
  backend/scripts/test-fcm-api.js
Due: backend-lint

Fix: Add detailed FCM debug info to test endpoint
  backend/routes/admin.js
  backend/scripts/test-fcm-api.js
Due: backend-lint

Fix: Sort notifications by creation time in all getters
  lib/features/notifications/presentation/bloc/notification_bloc.dart
Due: dart-format, flutter-analyze

Fix: Navigate to Profile tab for equipment config
  lib/features/snow_worker/presentation/pages/worker_home_tab.dart
  lib/features/snow_worker/presentation/pages/worker_main_dashboard.dart
Due: dart-format, flutter-analyze

Fix: Show loading screen while checking auth on app start
  lib/features/auth/presentation/screens/onboarding_screen.dart
Due: dart-format, flutter-analyze

Fix: Auto-refresh equipment status when profile is updated
  lib/features/snow_worker/presentation/pages/worker_home_tab.dart
Due: dart-format, flutter-analyze

Fix: Reload availability data when profile is updated
  lib/features/snow_worker/presentation/pages/worker_home_tab.dart
Due: dart-format, flutter-analyze

Feat: Add profile photo upload, phone verification & timezone fixes
  .claude/settings.local.json
  backend/routes/auth.js
  backend/routes/phoneVerification.js
  lib/core/utils/time_utils.dart
  lib/features/auth/data/datasources/auth_remote_datasource.dart
  lib/features/auth/data/models/user_model.dart
  lib/features/auth/data/repositories/auth_repository_impl.dart
  lib/features/auth/domain/repositories/auth_repository.dart
  lib/features/auth/presentation/bloc/auth_bloc.dart
  lib/features/auth/presentation/bloc/auth_event.dart
  lib/features/auth/presentation/bloc/auth_state.dart
  lib/features/chat/data/models/chat_message_model.dart
  lib/features/home/data/models/weather_model.dart
  lib/features/notifications/data/models/notification_model.dart
  lib/features/payment/data/models/payment_model.dart
  lib/features/profile/presentation/pages/edit_profile_page.dart
  lib/features/reservation/data/models/parking_spot_model.dart
  lib/features/reservation/data/models/reservation_model.dart
  lib/features/reservation/data/models/vehicule_model.dart
  lib/features/snow_worker/data/datasources/worker_remote_datasource.dart
  lib/features/snow_worker/data/models/worker_job_model.dart
  lib/features/snow_worker/data/models/worker_stats_model.dart
  lib/features/support/data/models/support_request_model.dart
Due: dart-format, flutter-analyze, backend-lint

Fix: Rename client nav item from 'Agenda' to 'Mes RDV' with appropriate icon
  lib/features/client/screens/client_home_screen.dart
Due: dart-format, flutter-analyze

Fix: Enable trust proxy for Railway reverse proxy
  backend/server.js
Due: backend-lint

Fix: Use correct Cloudinary function name uploadFromBuffer
  backend/routes/auth.js
Due: backend-lint

Fix: Preserve user data after profile errors & improve SMS dialog
  lib/features/auth/presentation/bloc/auth_bloc.dart
  lib/features/profile/presentation/pages/edit_profile_page.dart
Due: dart-format, flutter-analyze

Fix: Ensure user data is preserved during all intermediate states
  lib/features/auth/presentation/bloc/auth_bloc.dart
  lib/features/profile/presentation/pages/profile_page.dart
Due: dart-format, flutter-analyze

Fix: Remove conflicting state emissions for SMS verification dialog
  lib/features/auth/presentation/bloc/auth_bloc.dart
  lib/features/profile/presentation/pages/edit_profile_page.dart
Due: dart-format, flutter-analyze

Fix: Add RestoreAuthState event to fix dashboard loading issue
  lib/core/routing/role_based_home_wrapper.dart
  lib/features/auth/presentation/bloc/auth_bloc.dart
  lib/features/auth/presentation/bloc/auth_event.dart
  lib/features/profile/presentation/pages/edit_profile_page.dart
Due: dart-format, flutter-analyze

Fix: Add _isUpdatingProfile flag to control navigation properly
  lib/features/profile/presentation/pages/edit_profile_page.dart
Due: dart-format, flutter-analyze

Fix: Prevent unwanted navigation to dashboard during profile editing
  lib/core/routing/role_based_home_wrapper.dart
  lib/deneigeauto_app.dart
  lib/features/auth/presentation/bloc/auth_bloc.dart
  lib/features/profile/presentation/pages/edit_profile_page.dart
Due: dart-format, flutter-analyze

Feat: Switch from nodemailer to Resend for email sending
  backend/config/email.js
  backend/package-lock.json
  backend/package.json
Due: backend-lint

Fix: Security, stability and performance improvements
  backend/config/email.js
  backend/routes/admin.js
  backend/routes/auth.js
  backend/routes/payments.js
  backend/services/expiredJobsService.js
  lib/core/network/dio_client.dart
  lib/core/services/socket_service.dart
  lib/features/auth/presentation/screens/forgot_password_screen.dart
  lib/features/auth/presentation/screens/login_screen.dart
  lib/features/auth/presentation/screens/register_screen.dart
  lib/features/auth/presentation/screens/reset_password_screen.dart
  lib/features/client/screens/new_reservation_screen.dart
  lib/features/payment/presentation/screens/add_payment_method_screen.dart
  lib/features/profile/presentation/pages/edit_profile_page.dart
  lib/features/snow_worker/presentation/pages/worker_bank_accounts_page.dart
  lib/features/snow_worker/presentation/pages/worker_payment_setup_page.dart
  lib/features/snow_worker/presentation/pages/worker_payments_tab.dart
  lib/features/snow_worker/presentation/pages/worker_settings_page.dart
  lib/features/support/presentation/pages/help_support_page.dart
  lib/features/support/presentation/pages/worker_help_support_page.dart
  lib/features/vehicule/presentation/pages/add_vehicle_page.dart
Due: dart-format, flutter-analyze, backend-lint

Fix: Medium priority issues and implement Stripe Connect cancellation transfers
  backend/controllers/notificationController.js
  backend/middleware/validators.js
  backend/models/Notification.js
  backend/routes/admin.js
  backend/routes/messages.js
  backend/routes/payments.js
  backend/routes/reservations.js
  backend/utils/currencyUtils.js
  lib/features/auth/presentation/screens/phone_verification_screen.dart
  lib/features/payment/presentation/bloc/payment_methods_bloc.dart
Due: dart-format, flutter-analyze, backend-lint

Feat: Implement pending TODOs for improved functionality
  backend/controllers/disputeController.js
  backend/routes/admin.js
  backend/routes/auth.js
Due: backend-lint

Fix: Auth token expiration and onboarding loading issues
  backend/routes/auth.js
  lib/features/auth/presentation/screens/onboarding_screen.dart
Due: dart-format, flutter-analyze, backend-lint

Debug: Add detailed auth logs to diagnose 401 errors
  backend/middleware/auth.js
Due: backend-lint

Fix: Resolve 401 auth errors and session persistence issues
  lib/features/auth/presentation/bloc/auth_bloc.dart
  lib/features/auth/presentation/bloc/auth_interceptor.dart
  lib/features/auth/presentation/screens/onboarding_screen.dart
  lib/service/secure_storage_service.dart
Due: dart-format, flutter-analyze
