Repository ChristinNegou/deneige_auto: changes, and which lefthook commands are due for each by the changed paths.
All: dart-format, flutter-analyze, backend-lint

lefthook.yml:

# Lefthook configuration for pre-commit hooks
# Documentation: https://github.com/evilmartians/lefthook

pre-commit:
  parallel: false
  commands:
    # Flutter/Dart formatting check
    dart-format:
      glob: "*.dart"
      run: dart format --set-exit-if-changed {staged_files}
      stage_fixed: true

    # Flutter analyze (only if Dart files changed)
    flutter-analyze:
      glob: "*.dart"
      run: flutter analyze --no-fatal-infos lib/

    # Backend ESLint (only if JS files in backend changed)
    backend-lint:
      root: "backend/"
      glob: "*.js"
      run: npm run lint --prefix backend 2>/dev/null || echo "Lint check skipped"

pre-push:
  parallel: true
  commands:
    # Run Flutter tests before push
    flutter-tests:
      glob: "*.dart"
      run: flutter test --no-pub

    # Run backend tests before push
    backend-tests:
      glob: "backend/**/*.js"
      run: cd backend && npm test

Test: Fix auth_bloc_test.dart to mock SecureStorageService.hasToken()
  test/features/auth/presentation/bloc/auth_bloc_test.dart
  test/mocks/mock_repositories.dart
Due: dart-format, flutter-analyze

Security: Fix multiple backend vulnerabilities and add input validation
  backend/controllers/paymentController.js
  backend/middleware/auth.js
  backend/middleware/validators.js
  backend/routes/auth.js
  backend/routes/disputes.js
Due: backend-lint

Fix: Improve user-facing error messages for clarity
  backend/config/messages.js
  backend/controllers/paymentController.js
  lib/features/admin/presentation/pages/admin_disputes_page.dart
  lib/features/client/screens/client_home_screen.dart
  lib/features/disputes/presentation/pages/dispute_details_page.dart
  lib/features/disputes/presentation/pages/my_disputes_page.dart
  lib/features/disputes/presentation/pages/report_no_show_page.dart
  lib/features/payment/presentation/screens/add_payment_method_screen.dart
  lib/features/payment/presentation/screens/payment_screen.dart
  lib/features/snow_worker/presentation/pages/active_job_page.dart
Due: dart-format, flutter-analyze, backend-lint

Perf & Security: Multiple backend optimizations
  backend/config/enums.js
  backend/middleware/rateLimiter.js
  backend/package.json
  backend/routes/reservations.js
  backend/routes/workers.js
  backend/server.js
  backend/tests/reservations.test.js
Due: backend-lint

Fix: Remove duplicate mongoose require causing crash
  backend/server.js
Due: backend-lint

Feat: Add Stripe sync functionality for admin reconciliation
  backend/routes/admin.js
  lib/features/admin/data/datasources/admin_remote_datasource.dart
  lib/features/admin/data/repositories/admin_repository_impl.dart
  lib/features/admin/domain/entities/stripe_reconciliation.dart
  lib/features/admin/domain/repositories/admin_repository.dart
  lib/features/admin/presentation/bloc/admin_bloc.dart
  lib/features/admin/presentation/bloc/admin_event.dart
  lib/features/admin/presentation/bloc/admin_state.dart
  lib/features/admin/presentation/pages/admin_reports_page.dart
Due: dart-format, flutter-analyze, backend-lint

Fix: Validate ObjectId before querying reservations in sync-stripe
  backend/routes/admin.js
Due: backend-lint

Feat: Display Stripe data as primary revenue in admin reports
  lib/features/admin/presentation/pages/admin_reports_page.dart
Due: dart-format, flutter-analyze

Fix: Add null safety to model fromJson methods
  lib/features/reservation/data/models/parking_spot_model.dart
  lib/features/reservation/data/models/reservation_model.dart
  lib/features/reservation/data/models/vehicule_model.dart
Due: dart-format, flutter-analyze

Fix: Restore weather widget to client and worker dashboards
  lib/features/client/screens/client_home_screen.dart
  lib/features/snow_worker/presentation/pages/worker_home_tab.dart
  lib/features/snow_worker/presentation/pages/worker_main_dashboard.dart
Due: dart-format, flutter-analyze

Refactor: Replace large weather card with compact header badge
  lib/features/client/screens/client_home_screen.dart
  lib/features/snow_worker/presentation/pages/worker_home_tab.dart
Due: dart-format, flutter-analyze

Feat: Integrate AI features into reservation and worker flows
  lib/features/reservation/presentation/screens/steps/step4_options.dart
  lib/features/reservation/presentation/widgets/ai_price_estimation_widget.dart
  lib/features/snow_worker/presentation/pages/active_job_page.dart
Due: dart-format, flutter-analyze

Feat: Add advanced AI features - vehicle detection, time estimation, smart notifications
  backend/routes/workers.js
  backend/services/photoAnalysisService.js
  backend/services/pricingService.js
  backend/services/smartNotificationService.js
  lib/features/ai_features/domain/entities/photo_analysis.dart
  lib/features/ai_features/domain/entities/price_estimation.dart
Due: dart-format, flutter-analyze, backend-lint

Feat: Add vehicle type, snow depth, and suspicious photo alerts to AI widgets
  lib/features/ai_features/presentation/widgets/ai_photo_feedback_dialog.dart
  lib/features/ai_features/presentation/widgets/photo_analysis_card.dart
  lib/features/ai_features/presentation/widgets/price_estimation_card.dart
Due: dart-format, flutter-analyze

Feat: Make AI chatbot FAB draggable on dashboards
  lib/features/ai_chat/presentation/widgets/draggable_ai_chat_fab.dart
  lib/features/client/screens/client_home_screen.dart
  lib/features/snow_worker/presentation/pages/snowworker_dashboard_page.dart
Due: dart-format, flutter-analyze

Fix: Separate AI FAB positions per screen and validate bounds
  lib/features/ai_chat/presentation/widgets/draggable_ai_chat_fab.dart
  lib/features/client/screens/client_home_screen.dart
  lib/features/snow_worker/presentation/pages/snowworker_dashboard_page.dart
Due: dart-format, flutter-analyze

Fix: Simplify DraggableAIChatFab to always render immediately
  lib/features/ai_chat/presentation/widgets/draggable_ai_chat_fab.dart
Due: dart-format, flutter-analyze

Fix: Use AIChatFabWrapper for reliable FAB rendering on all dashboards
  lib/features/ai_chat/presentation/widgets/draggable_ai_chat_fab.dart
  lib/features/client/screens/client_home_screen.dart
  lib/features/snow_worker/presentation/pages/snowworker_dashboard_page.dart
Due: dart-format, flutter-analyze

Fix: Set _initialized when loading saved FAB position
  lib/features/ai_chat/presentation/widgets/draggable_ai_chat_fab.dart
Due: dart-format, flutter-analyze

Feat: Add draggable AI FAB to worker dashboard + role-specific suggestions
  backend/config/aiPrompts.js
  backend/routes/aiChat.js
  lib/core/constants/app_routes.dart
  lib/core/routing/app_router.dart
  lib/features/ai_chat/presentation/widgets/draggable_ai_chat_fab.dart
  lib/features/snow_worker/presentation/pages/snowworker_dashboard_page.dart
  lib/features/snow_worker/presentation/pages/worker_main_dashboard.dart
Due: dart-format, flutter-analyze, backend-lint

Chore: Remove AI pricing service (not needed)
  backend/routes/aiFeatures.js
  backend/services/pricingService.js
  backend/services/smartNotificationService.js
Due: backend-lint

Feat: Integrate weather into AI chat + fix incomplete features
  backend/routes/aiChat.js
  lib/features/ai_chat/data/repositories/ai_chat_repository_impl.dart
  lib/features/client/screens/new_reservation_screen.dart
  lib/features/reservation/data/repositories/reservation_repository_impl.dart
Due: dart-format, flutter-analyze, backend-lint

Feat: Complete dispute management system UI
  lib/core/constants/app_routes.dart
  lib/core/routing/app_router.dart
  lib/core/services/dispute_service.dart
  lib/features/disputes/presentation/pages/add_evidence_page.dart
  lib/features/disputes/presentation/pages/create_dispute_page.dart
  lib/features/disputes/presentation/pages/dispute_details_page.dart
  lib/features/disputes/presentation/pages/respond_dispute_page.dart
Due: dart-format, flutter-analyze

Docs: Update FAQ with AI assistant and dispute features
  lib/features/support/data/faq_data.dart
  lib/features/support/data/worker_faq_data.dart
Due: dart-format, flutter-analyze

Feat: Add 5 new service options with equipment mapping
  backend/routes/workers.js
  lib/core/config/app_config.dart
  lib/features/reservation/data/models/reservation_model.dart
  lib/features/reservation/presentation/bloc/edit_reservation_bloc.dart
  lib/features/reservation/presentation/bloc/new_reservation_bloc.dart
  lib/features/reservation/presentation/pages/reservation_details_page.dart
  lib/features/reservation/presentation/screens/steps/step4_options.dart
  lib/features/reservation/presentation/widgets/reservation_summary_card.dart
  lib/features/reservation/presentation/widgets/service_option_tile.dart
  lib/features/snow_worker/domain/entities/worker_job.dart
  lib/features/snow_worker/presentation/pages/worker_job_details_page.dart
  lib/features/snow_worker/presentation/pages/worker_profile_tab.dart
  lib/features/snow_worker/presentation/widgets/job_card.dart
  lib/features/snow_worker/presentation/widgets/swipeable_job_card.dart
Due: dart-format, flutter-analyze, backend-lint

Feat: Add worker profile completion indicator and improve UI
  lib/features/reservation/presentation/screens/steps/step4_options.dart
  lib/features/reservation/presentation/widgets/service_option_tile.dart
  lib/features/snow_worker/presentation/pages/worker_home_tab.dart
  lib/features/snow_worker/presentation/pages/worker_profile_tab.dart
Due: dart-format, flutter-analyze
