Repository ChristinNegou/deneige_auto: changes, and which lefthook commands are due for each by the changed paths.
All: dart-format, flutter-analyze, backend-lint

lefthook.yml:

# Lefthook configuration for pre-commit hooks
# Documentation: https://github.com/evilmartians/lefthook

pre-commit:
  parallel: false
  commands:
    # Flutter/Dart formatting check
    dart-format:
      glob: "*.dart"
      run: dart format --set-exit-if-changed {staged_files}
      stage_fixed: true

    # Flutter analyze (only if Dart files changed)
    flutter-analyze:
      glob: "*.dart"
      run: flutter analyze --no-fatal-infos lib/

    # Backend ESLint (only if JS files in backend changed)
    backend-lint:
      root: "backend/"
      glob: "*.js"
      run: npm run lint --prefix backend 2>/dev/null || echo "Lint check skipped"

pre-push:
  parallel: true
  commands:
    # Run Flutter tests before push
    flutter-tests:
      glob: "*.dart"
      run: flutter test --no-pub

    # Run backend tests before push
    backend-tests:
      glob: "backend/**/*.js"
      run: cd backend && npm test

Feat: Integrate AI analysis and photo evidence in admin disputes
  lib/features/admin/presentation/pages/admin_disputes_page.dart
Due: dart-format, flutter-analyze

Improve: Enhance dispute resolution notification messages
  backend/controllers/disputeController.js
Due: backend-lint

Improve: Enhance all notification messages for better UX
  backend/controllers/disputeController.js
  backend/services/expiredJobsService.js
Due: backend-lint

Docs: Add legal documents for Play Store compliance
  legal/conditions-utilisation.md
  legal/conformite-loi25.md
  legal/politique-confidentialite.md
Due: none

Feat: Add legal links and acceptance checkbox in Flutter app
  lib/features/auth/presentation/screens/login_screen.dart
  lib/features/auth/presentation/screens/register_screen.dart
  lib/features/legal/presentation/pages/legal_page.dart
  lib/features/settings/page/settings_page.dart
Due: dart-format, flutter-analyze

Feat: Add identity verification (KYC) system for workers
  backend/middleware/verificationRequired.js
  backend/models/User.js
  backend/routes/admin.js
  backend/routes/workers.js
  backend/services/identityVerificationService.js
Due: backend-lint

Fix: Remove duplicate Mongoose index on spotNumber
  backend/models/ParkingSpot.js
Due: backend-lint

Fix: Identity verification admin page data mapping and add reanalyze feature
  .claude/settings.local.json
  backend/routes/admin.js
  lib/core/constants/app_routes.dart
  lib/core/di/injection_container.dart
  lib/core/routing/app_router.dart
  lib/features/admin/data/datasources/admin_remote_datasource.dart
  lib/features/admin/presentation/pages/admin_dashboard_page.dart
  lib/features/admin/presentation/pages/admin_verifications_page.dart
  lib/features/snow_worker/presentation/pages/worker_home_tab.dart
  lib/features/verification/data/datasources/verification_remote_datasource.dart
  lib/features/verification/data/models/verification_status_model.dart
  lib/features/verification/domain/entities/verification_status.dart
  lib/features/verification/presentation/bloc/verification_bloc.dart
  lib/features/verification/presentation/bloc/verification_event.dart
  lib/features/verification/presentation/bloc/verification_state.dart
  lib/features/verification/presentation/pages/document_capture_page.dart
  lib/features/verification/presentation/pages/identity_verification_page.dart
  lib/features/verification/presentation/pages/selfie_capture_page.dart
Due: dart-format, flutter-analyze, backend-lint

Fix: Improve verification UX with clear error messages and button styling
  lib/core/errors/failures.dart
  lib/features/snow_worker/data/repositories/worker_repository_impl.dart
  lib/features/snow_worker/presentation/bloc/worker_jobs_bloc.dart
  lib/features/snow_worker/presentation/pages/worker_home_tab.dart
  lib/features/verification/presentation/pages/document_capture_page.dart
  lib/features/verification/presentation/pages/identity_verification_page.dart
  lib/features/verification/presentation/pages/selfie_capture_page.dart
Due: dart-format, flutter-analyze

Fix: Correct button colors and refresh handling for verification
  lib/features/snow_worker/presentation/bloc/worker_jobs_bloc.dart
  lib/features/verification/presentation/pages/document_capture_page.dart
  lib/features/verification/presentation/pages/identity_verification_page.dart
Due: dart-format, flutter-analyze

Fix: Correct selfie capture button color (white on white)
  lib/features/verification/presentation/pages/selfie_capture_page.dart
Due: dart-format, flutter-analyze

Refactor: Apply professional clean design to all worker tabs
  lib/features/snow_worker/presentation/pages/worker_earnings_tab.dart
  lib/features/snow_worker/presentation/pages/worker_home_tab.dart
  lib/features/snow_worker/presentation/pages/worker_payments_tab.dart
  lib/features/snow_worker/presentation/pages/worker_profile_tab.dart
Due: dart-format, flutter-analyze

Fix: Improve tab bar visibility in earnings tab
  lib/features/snow_worker/presentation/pages/worker_earnings_tab.dart
Due: dart-format, flutter-analyze

Fix: Prevent UI flicker when selecting equipment in profile
  lib/features/snow_worker/presentation/pages/worker_profile_tab.dart
Due: dart-format, flutter-analyze

Fix: Prevent UI flicker by extracting equipment grid to isolated StatefulWidget
  lib/features/snow_worker/presentation/pages/worker_profile_tab.dart
Due: dart-format, flutter-analyze

Fix: Correct buildWhen logic to fully prevent profile page rebuilds
  lib/features/snow_worker/presentation/pages/worker_profile_tab.dart
Due: dart-format, flutter-analyze

Fix: Proper buildWhen logic to allow initial load while blocking save updates
  lib/features/snow_worker/presentation/pages/worker_profile_tab.dart
Due: dart-format, flutter-analyze

Fix: Use ValueNotifier for equipment items to eliminate flicker completely
  lib/features/snow_worker/presentation/pages/worker_profile_tab.dart
Due: dart-format, flutter-analyze

Fix: Complete rewrite of worker profile tab to eliminate UI flicker
  lib/features/snow_worker/presentation/pages/worker_profile_tab.dart
Due: dart-format, flutter-analyze
